<!-- 3 column layout with 2/3 merge -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-4">
   
    <!-- Heading card -->
    <div class="col-span-1 flex h-auto bg-white dark:bg-gray-800">
        <table>
           <tr>
               <td class="items-left p-2">
                   <img [src]="globalService.league?.picture" class="max-w-[150px]">
               </td>
            </tr>
            <tr>
               <td>
                   <h1 class="mb-2 font-bold text-3xl leading-none tracking-tight text-gray-900 md:text-3xl lg:text-3xl dark:text-white">Commissioner Hub</h1>
                   <h4 class="">Commissioner: {{ globalService.league?.commissioner }}</h4>
                   <h4 class="pb-4">League Name: {{ globalService.league?.league_name }} (ID #{{ globalService.league?.league_id }})</h4>
                    
                   <!-- Edit League Info Button -->
                    <button type="button" 
                    class="w-auto px-4 py-2 text-xs font-medium hover:text-white text-center border border-green-400 inline-flex items-center text-green-400 bg-white rounded-lg hover:bg-green-500 dark:bg-green-400 dark:hover:bg-green-500">
                        <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M5 8a4 4 0 1 1 7.796 1.263l-2.533 2.534A4 4 0 0 1 5 8Zm4.06 5H7a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h2.172a2.999 2.999 0 0 1-.114-1.588l.674-3.372a3 3 0 0 1 .82-1.533L9.06 13Zm9.032-5a2.907 2.907 0 0 0-2.056.852L9.967 14.92a1 1 0 0 0-.273.51l-.675 3.373a1 1 0 0 0 1.177 1.177l3.372-.675a1 1 0 0 0 .511-.273l6.07-6.07a2.91 2.91 0 0 0-.944-4.742A2.907 2.907 0 0 0 18.092 8Z" clip-rule="evenodd"/>
                        </svg>
                        Edit League Info
                    </button>
               </td>
           </tr>
       </table>
      </div>
 
    <!-- League Settings tab -->
    <div class="flex h-auto bg-white dark:bg-gray-800 border border-gray-300 rounded-md shadow-md col-span-2">
        <div *ngIf="leagueSettings" class="w-full">
            <!-- Header Row with Dark Background -->
            <div class="bg-green-400 text-white p-2 rounded-t-md flex justify-between items-center">
                <h3 class="font-semibold text-lg">Control Panel</h3>
            </div>
            
            <div class="p-4">
                <table class="w-full">
                    <tr>
                        <td class="items-left align-top p-2 border-b-2" colspan="2">
                            <h2 class="font-semibold text-gray-900 text-sm dark:text-gray-400">League Settings</h2>
                        </td>
                        <td class="items-left align-top p-2 border-b-2">
                            <h2 class="font-semibold text-gray-900 text-sm dark:text-gray-400">Offseason Commands</h2>
                        </td>
                    </tr>
                    <tr>
                        <!-- Roster Settings -->
                        <td class="items-left align-top">
                            <div class="p-2 font-normal text-gray-500 text-sm dark:text-gray-400">
                                <div class="flex items-center justify-between mt-1">
                                    Max Roster Size:
                                    <input 
                                        type="number" 
                                        [(ngModel)]="leagueSettings.max_roster_size"
                                        [disabled]="!inEditMode"
                                        class="bg-gray-50 border border-gray-300 text-xs rounded-lg focus:ring-green-400 focus:border-green-400 max-w-16 p-1 text-left"
                                        [ngClass]="{
                                            'text-gray-900 font-normal': inEditMode,
                                            'text-gray-400 cursor-not-allowed': !inEditMode
                                        }"
                                        required
                                    />
                                </div>
                        
                                <div class="flex items-center justify-between mt-1">
                                    Minimum Forwards:
                                    <input 
                                        type="number" 
                                        [(ngModel)]="leagueSettings.min_forwards"
                                        [disabled]="!inEditMode"
                                        class="bg-gray-50 border border-gray-300 text-xs rounded-lg focus:ring-green-400 focus:border-green-400 max-w-16 p-1 text-left"
                                        [ngClass]="{
                                            'text-gray-900 font-normal': inEditMode,
                                            'text-gray-400 cursor-not-allowed': !inEditMode
                                        }"
                                        required
                                    />
                                </div>
                        
                                <div class="flex items-center justify-between mt-1">
                                    Minimum Defense:
                                    <input 
                                        type="number" 
                                        [(ngModel)]="leagueSettings.min_defense"
                                        [disabled]="!inEditMode"
                                        class="bg-gray-50 border border-gray-300 text-xs rounded-lg focus:ring-green-400 focus:border-green-400 max-w-16 p-1 text-left"
                                        [ngClass]="{
                                            'text-gray-900 font-normal': inEditMode,
                                            'text-gray-400 cursor-not-allowed': !inEditMode
                                        }"
                                        required 
                                    />
                                </div>
                        
                                <div class="flex items-center justify-between mt-1">
                                    Minimum Goalies:
                                    <input 
                                        type="number" 
                                        [(ngModel)]="leagueSettings.min_goalies"
                                        [disabled]="!inEditMode"
                                        class="bg-gray-50 border border-gray-300 text-xs rounded-lg focus:ring-green-400 focus:border-green-400 max-w-16 p-1 text-left"
                                        [ngClass]="{
                                            'text-gray-900 font-normal': inEditMode,
                                            'text-gray-400 cursor-not-allowed': !inEditMode
                                        }"
                                        required
                                    />
                                </div>
                        
                                <div class="flex items-center justify-between mt-1">
                                    IR Slots:
                                    <input 
                                        type="number" 
                                        [(ngModel)]="leagueSettings.ir_slots"
                                        [disabled]="!inEditMode"
                                        class="bg-gray-50 border border-gray-300 text-xs rounded-lg focus:ring-green-400 focus:border-green-400 max-w-16 p-1 text-left"
                                        [ngClass]="{
                                            'text-gray-900 font-normal': inEditMode,
                                            'text-gray-400 cursor-not-allowed': !inEditMode
                                        }"
                                        required
                                    />
                                </div>
                        
                                <div class="flex items-center justify-between mt-1">
                                    Rookie Bank Size:
                                    <input 
                                        type="number" 
                                        [(ngModel)]="leagueSettings.rookie_bank_size"
                                        [disabled]="!inEditMode"
                                        class="bg-gray-50 border border-gray-300 text-xs rounded-lg focus:ring-green-400 focus:border-green-400 max-w-16 p-1 text-left"
                                        [ngClass]="{
                                            'text-gray-900 font-normal': inEditMode,
                                            'text-gray-400 cursor-not-allowed': !inEditMode
                                        }"
                                        required 
                                    />
                                </div>
                            </div>
                        </td>                                               

                        <!-- Additional Settings -->
                        <td class="items-left align-top border-r-2 pr-4 text-right">
                            <div class="p-2 font-normal text-gray-500 text-sm dark:text-gray-400">
                                <div class="flex items-center justify-between">
                                    <b>Salary Cap:</b>
                                    <input 
                                        type="number" 
                                        [(ngModel)]="leagueSettings.salary_cap"
                                        [disabled]="!inEditMode"
                                        class="bg-gray-50 border border-gray-300 text-xs rounded-lg focus:ring-green-400 focus:border-green-400 max-w-24 p-1 text-left"
                                        [ngClass]="{
                                            'text-gray-900 font-normal': inEditMode,
                                            'text-gray-400 cursor-not-allowed': !inEditMode
                                        }"
                                        required
                                    />
                                </div>
                                
                                <div class="flex items-center justify-between mt-1">
                                    General Draft Length:
                                    <input 
                                        type="number" 
                                        [(ngModel)]="leagueSettings.general_draft_length"
                                        [disabled]="!inEditMode"
                                        class="bg-gray-50 border border-gray-300 text-xs rounded-lg focus:ring-green-400 focus:border-green-400 max-w-16 p-1 text-left"
                                        [ngClass]="{
                                            'text-gray-900 font-normal': inEditMode,
                                            'text-gray-400 cursor-not-allowed': !inEditMode
                                        }"
                                        required
                                    />
                                </div>
                        
                                <div class="flex items-center justify-between mt-1">
                                    Rookie Draft Length:
                                    <input 
                                        type="number" 
                                        [(ngModel)]="leagueSettings.rookie_draft_length"
                                        [disabled]="!inEditMode"
                                        class="bg-gray-50 border border-gray-300 text-xs rounded-lg focus:ring-green-400 focus:border-green-400 max-w-16 p-1 text-left"
                                        [ngClass]="{
                                            'text-gray-900 font-normal': inEditMode,
                                            'text-gray-400 cursor-not-allowed': !inEditMode
                                        }"
                                        required
                                    />
                                </div>
                        
                                <div class="flex items-center justify-between mt-1">
                                    Salary Retention Slots:
                                    <input 
                                        type="number" 
                                        [(ngModel)]="leagueSettings.retention_slots"
                                        [disabled]="!inEditMode"
                                        class="bg-gray-50 border border-gray-300 text-xs rounded-lg focus:ring-green-400 focus:border-green-400 max-w-16 p-1 text-left"
                                        [ngClass]="{
                                            'text-gray-900 font-normal': inEditMode,
                                            'text-gray-400 cursor-not-allowed': !inEditMode
                                        }"
                                        required
                                    />
                                </div>
                        
                                <div class="flex items-center justify-between mt-1">
                                    Max Retention Percentage:
                                    <input 
                                        type="number" 
                                        [(ngModel)]="leagueSettings.max_retention_perc"
                                        [disabled]="!inEditMode"
                                        class="bg-gray-50 border border-gray-300 text-xs rounded-lg focus:ring-green-400 focus:border-green-400 max-w-16 p-1 text-left"
                                        [ngClass]="{
                                            'text-gray-900 font-normal': inEditMode,
                                            'text-gray-400 cursor-not-allowed': !inEditMode
                                        }"
                                        required
                                    />
                                </div>
                            </div>         
                        
                            <!-- Buttons aligned to the right -->
                            <div class="flex justify-end space-x-2 rtl:space-x-reverse rounded-b">
                                <button 
                                    (click)="saveSettings(); toggleEditMode()"
                                    type="submit" 
                                    [disabled]="!inEditMode"
                                    class="text-white bg-green-400 hover:bg-green-500 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-[11px] px-2.5 py-1.5 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800"
                                    [ngClass]="{
                                        'bg-green-400 hover:bg-green-500 focus:ring-green-300': inEditMode,
                                        'bg-green-300 cursor-not-allowed': !inEditMode
                                    }" 
                                >
                                    Save Changes
                                </button>
                                <div *ngIf="!inEditMode">
                                    <button
                                        (click)="toggleEditMode()" 
                                        type="button" 
                                        class="text-green-400 bg-white hover:bg-green-500 hover:text-white border border-green-400 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-[11px] px-2.5 py-1.5 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800"
                                    >
                                        Edit Settings
                                    </button>
                                </div>
                                
                                <div *ngIf="inEditMode">
                                    <button
                                        (click)="toggleEditMode()" 
                                        type="button" 
                                        class="text-green-400 bg-white hover:bg-green-500 hover:text-white border border-green-400 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-[11px] px-2.5 py-1.5 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800"
                                    >
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </td>
                        

                        <!-- Offseason Commands -->
                        <td class="items-left align-top p-4">
                            <div class="flex flex-col gap-2">
                        
                                <!-- Set Draft Order Button -->
                                <button  type="submit" class="text-white bg-green-400 hover:bg-green-500 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-xs px-2.5 py-1.5 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800">
                                    Set Draft Order
                                </button>

                                <!-- Generate Picks Button -->
                                <button  type="submit" class="text-white bg-green-400 hover:bg-green-500 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-xs px-2.5 py-1.5 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800">
                                    Generate Draft Picks
                                </button>

                                <!-- Generate FAs Button -->
                                <button  type="submit" class="text-white bg-green-400 hover:bg-green-500 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-xs px-2.5 py-1.5 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800">
                                    Generate FAs
                                </button>

                                <!-- Advance Season Button -->
                                <button  type="submit" class="text-red-500 bg-white border border-red-500 hover:text-white hover:bg-red-600 focus:outline-none font-medium rounded-lg text-xs px-2.5 py-1.5 text-center">
                                    Advance Season
                                </button>
                        
                            </div>
                        </td>
                        
                    </tr>
                </table>   
            </div>
      
        </div>
    </div> 
 </div>

 <app-commissioner-hub-tabs
    [allTeams]="allTeams"
    [allUsers]="allUsers"
    [allDraftPicks]="allDraftPicks"
    [allFAs]="allFAs"
    [allDrafts]="allDrafts"
    [filteredDraftPicks]="filteredDraftPicks"
    [filteredFAPicks]="filteredFAPicks"
    [leagueSettings]="leagueSettings"
    [displaying]="displaying"
    [league_id]="league_id"
    [yearFilter]="yearFilter"
    [pickTypeFilter]="pickTypeFilter"
    [teamFilter]="teamFilter"
    [searchKey]="searchKey"
    [selected]="selected"
    [assetToEdit]="assetToEdit"
    [searchResults]="searchResults"
    (displayChange)="setDisplay($event)"
    (toggleAdminRightsEvent)="toggleAdminRights($event)"
    (filterDraftPicksChange)="filterDraftPicks()"
    (filterFAsChange)="filterFAs()"
    (clearFiltersEvent)="clearFilters()"
    (editAssetEvent)="editAsset($event)"
    (openModalEvent)="openModal($event.template, $event.pick)"
    (closeModalEvent)="closeModal()"
    (yearFilterChange)="yearFilter = $event"
    (teamFilterChange)="teamFilter = $event"
    (pickTypeFilterChange)="pickTypeFilter = $event"
    (searchKeyChange)="searchPlayers($event)"
    (playerTakenChange)="setPlayerTaken($event)"
    (revokeAssetEvent)="revokeAsset($event)"
    (restoreAssetEvent)="restoreAsset($event)">
</app-commissioner-hub-tabs>






