<div class="grid grid-cols-2 gap-4">
    <div class="flex items-center">
       <h1 class="font-bold text-2xl">
          Protection Sheet Builder
       </h1>
    </div>
    
    <div class="flex items-center justify-end">
       <div class="w-full md:w-auto flex flex-col text-gray-900">
          <label for="team-filter" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Choose team:</label>
          <select id="team-filter" [(ngModel)]="team.team_id" (ngModelChange)="setProtectionSheet($event)" class="bg-gray-50 border border-green-400 text-gray-900 text-sm rounded-lg focus:ring-green-400 focus:border-green-400 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-400 dark:focus:border-green-400 min-w-[200px]">
             <option value="">Select team...</option>
             <option *ngFor="let team of globalService.teams" [value]="team.team_id">{{ team.team_name }}</option>
          </select>
       </div>
    </div>
</div>
 

 <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-4">

    <!-- Team Info & Roster -->
    <div class="md:col-span-1 flex items-center">
        <div class="flex h-auto w-full bg-white dark:bg-gray-800 border border-gray-300 rounded-md shadow-md">
        <div class="w-full">
            <div class="p-4">
            <table class="w-full">
                <tr>
                <td class="items-left align-top">
                    <table>
                    <tr>
                        <td class="items-left p-4">
                            <img [src]="team.picture" class="max-w-[150px] rounded-full">
                        </td>
                        <td>
                        <h1 class="mb-4 font-bold text-3xl leading-none tracking-tight text-gray-900 md:text-3xl lg:text-3xl dark:text-white">{{ team.team_name }}</h1>
                        <h3 class="pb-4"><b>Managed by:</b><br> {{ team.managed_by }}</h3>
                        </td>
                    </tr>
                    </table>
                </td>
                </tr>
            </table>
            </div>
        </div>
        </div>
    </div>

    <!-- Protection Sheet Rules -->
    <div class="md:col-span-1 flex items-center">
        <div class="flex h-auto w-full bg-white dark:bg-gray-800">
            <div class="w-full p-4">
                <a [routerLink]="['/', globalService.league?.league_id, 'players']">
                    <h5 class="mb-2 text-xl font-semibold tracking-tight text-gray-900 dark:text-white">How it works...</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400 text-sm">
                    Select your keepers from the sheet below. A complete protection sheet must include a minimum of 5 forwards, 3 defensemen, and 1 goalie plus up to 6 bench spots of any position. The main sheet has a cap limit of $45M, while the bench has a cap limit of $5M plus half of the unused space from the main sheet. You may designate one franchise player to exclude their cap hit from the main sheet limit. However, franchise players will still count toward the positional limits on the main sheet.
                </p>
            </div>
        </div>
    </div>

</div>


<div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-4">

    <!-- Team Roster Section -->
    <div class="dark:bg-gray-800 relative overflow-x-auto">
      <div class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 bg-white dark:bg-gray-900">
         <div class="relative">
            <h4 class="font-semibold text-xl">
               Team Roster
           </h4>
         </div>
      </div>

      <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
        <h2 id="accordion-flush-heading-1">
            <div class="bg-white flex items-center justify-between w-full py-2 px-2 font-medium rtl:text-right text-gray-500 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
                <span>Forwards</span>
                <div class="w-full flex justify-end">
                    <a (click)="clearSheet()" class="cursor-pointer font-medium text-sm text-green-500 dark:text-green-500 hover:underline">Clear Sheet</a>
                </div>
            </div>
        </h2>
        <div id="accordion-flush-body-1" aria-labelledby="accordion-flush-heading-1">
            <div class="border-gray-200 dark:border-gray-700">
                <!-- Player Table -->
                <div class="overflow-x-auto rounded m:rounded-lg shadow-md border-2">
                    <div class="max-h-[275px] overflow-y-auto">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr class="border-b-2">
                                <th scope="col" class="md:p-2 md:sticky md:left-0 bg-gray-50 dark:bg-gray-700 z-10">

                                </th>
                        
                                <!-- Player Column -->
                                <th scope="col" class="md:p-2 bg-gray-50 md:sticky dark:bg-gray-700 z-10 hover:text-gray-500 hover:cursor-pointer">
                                    <span class="flex items-center">
                                        Player
                                    </span>  
                                </th>
                        
                                <!-- Dynamic Columns -->
                                <th scope="col" class="px-6 py-2">
                                        AAV
                                </th>

                                <th scope="col" class="md:p-2 md:sticky md:left-0 bg-gray-50 dark:bg-gray-700 z-10">
    
                                </th>
                                </tr>
                            </thead>
                            <tbody>
                    
                                <tr *ngFor="let forward of getForwards()" 
                                    class="border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    
                                    <!-- Checkbox Column -->
                                    <td class="p-2 md:p-2 md:sticky md:left-0 z-10">
                                        <div class="flex items-center">
                                            <input 
                                                (click)="toggleProtection(forward)"            
                                                id="default-checkbox"
                                                type="checkbox" 
                                                value=""
                                                [checked]="isProtected(forward)" 
                                                [disabled]="!isProtected(forward) && !mainSheetIsValid(forward) && !benchIsValid(forward)"
                                                class="w-4 h-4 text-green-400 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-500 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        </div>                    
                                    </td>

                                    <!-- Player Column -->
                                    <td class="flex items-left px-2 py-2 whitespace-nowrap">
                                        <div class="text-sm font-semibold">
                                            <span 
                                                [ngClass]="{
                                                    'text-gray-400 line-through': !isProtected(forward) && !mainSheetIsValid(forward) && !benchIsValid(forward),
                                                    'text-gray-900 dark:text-white': isProtected(forward) || mainSheetIsValid(forward) || benchIsValid(forward)
                                                }">
                                                {{ forward.first_name }} {{ forward.last_name }}
                                            </span>
                                            <span class="ms-0.5 font-normal text-[11px] text-gray-500">
                                                {{ forward.position }} - {{ forward.short_code }}
                                            </span>
                                        </div>
                                    </td>                                    

                                    <!-- AAV Column -->
                                    <td class="px-6 py-2">
                                        ${{ forward.aav_current | number:'1.0-0' }}
                                    </td>

                                    <!-- Star Icon Column -->
                                    <td class="p-2 md:p-2 md:left-0 dark:bg-gray-800"> 
                                        <div class="flex items-center">
                                            <svg (click)="toggleFranchise(forward)" 
                                                class="w-6 h-6 text-yellow-300 dark:text-white hover:fill-yellow-300 hover:cursor-pointer" 
                                                [ngClass]="{
                                                    'fill-yellow-300': forward === getFranchise(),
                                                }"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" 
                                                width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="currentColor" stroke-width="2" d="M11.083 5.104c.35-.8 1.485-.8 1.834 0l1.752 4.022a1 1 0 0 0 .84.597l4.463.342c.9.069 1.255 1.2.556 1.771l-3.33 2.723a1 1 0 0 0-.337 1.016l1.03 4.119c.214.858-.71 1.552-1.474 1.106l-3.913-2.281a1 1 0 0 0-1.008 0L7.583 20.8c-.764.446-1.688-.248-1.474-1.106l1.03-4.119A1 1 0 0 0 6.8 14.56l-3.33-2.723c-.698-.571-.342-1.702.557-1.771l4.462-.342a1 1 0 0 0 .84-.597l1.753-4.022Z"/>
                                            </svg>
                                        </div>                    
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h2 id="accordion-flush-heading-2">
            <div class="bg-white flex items-center justify-between w-full py-2 px-2 font-medium rtl:text-right text-gray-500 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
                <span>Defense</span>
            </div>
        </h2>
        <div id="accordion-flush-body-2" aria-labelledby="accordion-flush-heading-2">
            <div class="border-gray-200 dark:border-gray-700">
                <!-- Defense Table -->
                <div class="overflow-x-auto rounded m:rounded-lg shadow-md border-2">
                    <div class="max-h-[275px] overflow-y-auto">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr class="border-b-2">
                                <th scope="col" class="md:p-2 md:sticky md:left-0 bg-gray-50 dark:bg-gray-700 z-10">
    
                                </th>
                        
                                <!-- Player Column -->
                                <th scope="col" class="md:p-2 bg-gray-50 md:sticky dark:bg-gray-700 z-10 hover:text-gray-500 hover:cursor-pointer">
                                    <span class="flex items-center">
                                        Player
                                    </span>  
                                </th>
                        
                                <!-- Dynamic Columns -->
                                <th scope="col" class="px-6 py-2">
                                        AAV
                                </th>

                                <th scope="col" class="md:p-2 md:sticky md:left-0 bg-gray-50 dark:bg-gray-700 z-10">
    
                                </th>
                                </tr>
                            </thead>
                            <tbody>
                    
                                <tr *ngFor="let defensemen of getDefense()" class="border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <!-- Checkbox Column -->
                                    <td class="p-2 md:p-2 md:sticky md:left-0 z-10">
                                        <div class="flex items-center">
                                            <input 
                                                (click)="toggleProtection(defensemen)"            
                                                id="default-checkbox"
                                                type="checkbox" 
                                                value=""
                                                [checked]="isProtected(defensemen)"  
                                                [disabled]="!isProtected(defensemen) && !mainSheetIsValid(defensemen) && !benchIsValid(defensemen)"
                                                class="w-4 h-4 text-green-400 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-500 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        </div>                    
                                    </td>
    
                                    <!-- Player Column -->
                                    <td class="flex items-left px-2 py-2 whitespace-nowrap dark:bg-gray-800">
                                        <div class="text-sm font-semibold">
                                            <span 
                                                [ngClass]="{
                                                    'text-gray-400 line-through': !isProtected(defensemen) && !mainSheetIsValid(defensemen) && !benchIsValid(defensemen),
                                                    'text-gray-900 dark:text-white': isProtected(defensemen) || mainSheetIsValid(defensemen) || benchIsValid(defensemen)
                                                }">
                                                {{ defensemen.first_name }} {{ defensemen.last_name }}
                                            </span>
                                            <span class="ms-0.5 font-normal text-[11px] text-gray-500">
                                                {{ defensemen.position }} - {{ defensemen.short_code }}
                                            </span>
                                        </div>
                                    </td>
    
                                <td class="px-6 py-2">
                                    ${{ defensemen.aav_current | number:'1.0-0' }}
                                </td>
    
                                <td class="p-2 md:p-2 md:left-0 dark:bg-gray-800"> 
                                    <div class="flex items-center">
                                        <svg (click)="toggleFranchise(defensemen)" 
                                            class="w-6 h-6 text-yellow-300 dark:text-white hover:fill-yellow-300 hover:cursor-pointer" 
                                            [ngClass]="{
                                                'fill-yellow-300': defensemen === getFranchise(),
                                            }"
                                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" 
                                            width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="currentColor" stroke-width="2" d="M11.083 5.104c.35-.8 1.485-.8 1.834 0l1.752 4.022a1 1 0 0 0 .84.597l4.463.342c.9.069 1.255 1.2.556 1.771l-3.33 2.723a1 1 0 0 0-.337 1.016l1.03 4.119c.214.858-.71 1.552-1.474 1.106l-3.913-2.281a1 1 0 0 0-1.008 0L7.583 20.8c-.764.446-1.688-.248-1.474-1.106l1.03-4.119A1 1 0 0 0 6.8 14.56l-3.33-2.723c-.698-.571-.342-1.702.557-1.771l4.462-.342a1 1 0 0 0 .84-.597l1.753-4.022Z"/>
                                        </svg>
                                            
                                    </div>                    
                                </td>
                                
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h2 id="accordion-flush-heading-3">
            <div class="bg-white flex items-center justify-between w-full py-2 px-2 font-medium rtl:text-right text-gray-500 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">
                <span>Goalies</span>
            </div>
        </h2>
        <div id="accordion-flush-body-3" aria-labelledby="accordion-flush-heading-3">
            <div class="border-gray-200 dark:border-gray-700">
                <!-- Defense Table -->
                <div class="overflow-x-auto rounded m:rounded-lg shadow-md border-2">
                    <div class="max-h-[275px] overflow-y-auto">
                        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                <tr class="border-b-2">
                                    <th scope="col" class="md:p-2 md:sticky md:left-0 bg-gray-50 dark:bg-gray-700 z-10">

                                    </th>
                            
                                    <!-- Player Column -->
                                    <th scope="col" class="md:p-2 bg-gray-50 md:sticky dark:bg-gray-700 z-10 hover:text-gray-500 hover:cursor-pointer">
                                        <span class="flex items-center">
                                            Player
                                        </span>  
                                    </th>
                            
                                    <!-- Dynamic Columns -->
                                    <th scope="col" class="px-6 py-2">
                                            AAV
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let goalie of getGoalies()" class="border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <!-- Checkbox Column -->
                                    <td class="p-2 md:p-2 md:sticky md:left-0 z-10">
                                        <div class="flex items-center">
                                            <input 
                                                (click)="toggleProtection(goalie)"            
                                                id="default-checkbox"
                                                type="checkbox" 
                                                value=""
                                                [checked]="isProtected(goalie)"  
                                                [disabled]="!isProtected(goalie) && !mainSheetIsValid(goalie) && !benchIsValid(goalie)"
                                                class="w-4 h-4 text-green-400 border-gray-300 rounded focus:ring-green-500 dark:focus:ring-green-500 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        </div>                    
                                    </td>

                                    <!-- Player Column -->
                                    <td class="flex items-left px-2 py-2 whitespace-nowrap dark:bg-gray-800">
                                        <div class="text-sm font-semibold">
                                            <span 
                                                [ngClass]="{
                                                    'text-gray-400 line-through': !isProtected(goalie) && !mainSheetIsValid(goalie) && !benchIsValid(goalie),
                                                    'text-gray-900 dark:text-white': isProtected(goalie) || mainSheetIsValid(goalie) || benchIsValid(goalie)
                                                }">
                                                {{ goalie.first_name }} {{ goalie.last_name }}
                                            </span>
                                            <span class="ms-0.5 font-normal text-[11px] text-gray-500">
                                                {{ goalie.position }} - {{ goalie.short_code }}
                                            </span>
                                        </div>
                                    </td>

                                    <td class="px-6 py-2">
                                        ${{ goalie.aav_current | number:'1.0-0' }}
                                    </td>

                                    <td class="p-2 md:p-2 md:left-0 dark:bg-gray-800"> 
                                        <div class="flex items-center">
                                            <svg (click)="toggleFranchise(goalie)" 
                                                class="w-6 h-6 text-yellow-300 dark:text-white hover:fill-yellow-300 hover:cursor-pointer" 
                                                [ngClass]="{
                                                    'fill-yellow-300': goalie === getFranchise(),
                                                }"
                                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" 
                                                width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path stroke="currentColor" stroke-width="2" d="M11.083 5.104c.35-.8 1.485-.8 1.834 0l1.752 4.022a1 1 0 0 0 .84.597l4.463.342c.9.069 1.255 1.2.556 1.771l-3.33 2.723a1 1 0 0 0-.337 1.016l1.03 4.119c.214.858-.71 1.552-1.474 1.106l-3.913-2.281a1 1 0 0 0-1.008 0L7.583 20.8c-.764.446-1.688-.248-1.474-1.106l1.03-4.119A1 1 0 0 0 6.8 14.56l-3.33-2.723c-.698-.571-.342-1.702.557-1.771l4.462-.342a1 1 0 0 0 .84-.597l1.753-4.022Z"/>
                                            </svg>
                                                
                                        </div>                    
                                    </td>                  
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    <!-- Protection Sheet -->
    <div class="flex h-auto sticky top-0">
        <div class="w-full">
            <div class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4">
                <div class="flex items-center">
                    <h4 class="font-semibold text-xl">
                       Protection Sheet
                    </h4>
                 </div>
                 <div class="flex items-center justify-end">
                    <div class="w-full md:w-auto flex flex-col text-gray-500 text-sm font-semibold">
                    {{ protected_count }} players protected
                    </div>
                 </div>
             </div>
           <!-- Protection Sheet -->
            <div class="overflow-x-auto rounded m:rounded-lg shadow-md">

                <!-- Franchise Player -->
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="bg-green-400 text-white dark:bg-gray-700 text-center p-2 font-medium text-base" colspan="4">
                                Franchise
                            </th>
                        </tr>
                        <tr class="border-b-2">
                            <th scope="col" class=" bg-gray-50 dark:bg-gray-700">

                            </th>
                    
                            <!-- Player Column -->
                            <th scope="col" class="md:p-1 bg-gray-50 dark:bg-gray-700">
                                <span class="flex items-center">
                                    Player
                                </span>  
                            </th>
                    
                            <!-- Dynamic Columns -->
                            <th scope="col" class="px-6 py-1 text-right" colspan="2">
                                AAV
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"> 
                            <ng-container *ngIf="franchise_player; else emptyRow">
                                <!-- Display row with player data if protected_goalies[i] exists -->
                                <td class="py-1 md:px-4 dark:bg-gray-800 z-10">
                                    1                   
                                </td>
                        
                                <!-- Player Column -->
                                <td class="flex items-left px-2 py-1 text-gray-900 whitespace-nowrap dark:text-white dark:bg-gray-800">
                                    <div class="text-sm font-semibold">
                                        {{ franchise_player.first_name }} {{ franchise_player.last_name }}
                                        <span class="ms-0.5 font-normal text-[11px] text-gray-500">
                                            {{ franchise_player.position }} - {{ franchise_player.short_code }}
                                        </span>
                                    </div>
                                </td>
                        
                                <td class="px-6 py-1 text-right" colspan="2">
                                    ${{ franchise_player.aav_current | number:'1.0-0' }}
                                </td>     
                            </ng-container>
                        
                            <!-- Empty row template -->
                            <ng-template #emptyRow>
                                <td class="py-1 md:px-4 dark:bg-gray-800 z-10">
                                    1                  
                                </td>
                                <td class="flex items-left px-2 py-1 text-gray-900 whitespace-nowrap dark:text-white dark:bg-gray-800">
                                    <div class="text-sm font-semibold text-gray-400 italic">
                                        --
                                    </div>
                                </td>
                                <td class="px-6 py-1 text-right" colspan="2">
                                    --
                                </td>
                            </ng-template>                 
                        </tr>
                    </tbody>
                </table>

                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="bg-green-400 text-white dark:bg-gray-700 text-center p-2 font-medium text-base" colspan="4">
                                Forwards 
                                <span class="font-normal text-sm">
                                    {{ f_protected }}/{{ max_f }}
                                </span>
                            </th>
                        </tr>
                        <tr class="border-b-2">
                            <th scope="col" class=" bg-gray-50 dark:bg-gray-700">

                            </th>
                    
                            <!-- Player Column -->
                            <th scope="col" class="md:p-1 bg-gray-50 dark:bg-gray-700">
                                <span class="flex items-center">
                                    Player
                                </span>  
                            </th>
                    
                            <!-- Dynamic Columns -->
                            <th scope="col" class="px-6 py-1 text-right" colspan="2">
                                AAV
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let forward of [].constructor(max_f); let i = index" class="border-b dark:border-gray-700"
                            [ngClass]="{
                                'bg-gray-300 text-gray-300': (i + 1) === max_f && franchise_player && franchise_player.position === 'F',
                            }"> 
                            <ng-container *ngIf="protected_forwards[i]; else emptyRow">
                                <!-- Display row with player data if protected_goalies[i] exists -->
                                <td class="py-1 md:px-4 bg-white dark:bg-gray-800 z-10">
                                    {{ i + 1 }}                   
                                </td>
                        
                                <!-- Player Column -->
                                <td class="flex items-left px-2 py-1 text-gray-900 whitespace-nowrap dark:text-white bg-white dark:bg-gray-800">
                                    <div class="text-sm font-semibold">
                                        {{ protected_forwards[i].first_name }} {{ protected_forwards[i].last_name }}
                                        <span class="ms-0.5 font-normal text-[11px] text-gray-500">
                                            {{ protected_forwards[i].position }} - {{ protected_forwards[i].short_code }}
                                        </span>
                                    </div>
                                </td>
                        
                                <td class="px-6 py-1 text-right" colspan="2">
                                    ${{ protected_forwards[i].aav_current | number:'1.0-0' }}
                                </td>     
                            </ng-container>
                        
                            <!-- Empty row template -->
                            <ng-template #emptyRow>
                                <td class="py-1 md:px-4 dark:bg-gray-800 z-10">
                                    {{ i + 1 }}                   
                                </td>
                                <td class="flex items-left px-2 py-1 whitespace-nowrap dark:text-white dark:bg-gray-800">
                                    <div class="text-sm font-semibold italic">
                                        --
                                    </div>
                                </td>
                                <td class="px-6 py-1 text-right" colspan="2">
                                    --
                                </td>
                            </ng-template>                
                        </tr>
                    </tbody>
                </table>

                <!-- Defense -->
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="bg-green-400 text-white dark:bg-gray-700 text-center p-2 font-medium text-base" colspan="4">
                                Defense 
                                <span class="font-normal text-sm">
                                    {{ d_protected }}/{{ max_d }}
                                </span>
                            </th>
                        </tr>
                        <tr class="border-b-2">
                            <th scope="col" class=" bg-gray-50 dark:bg-gray-700">

                            </th>
                    
                            <!-- Player Column -->
                            <th scope="col" class="md:p-1 bg-gray-50 dark:bg-gray-700">
                                <span class="flex items-center">
                                    Player
                                </span>  
                            </th>
                    
                            <!-- Dynamic Columns -->
                            <th scope="col" class="px-6 py-1 text-right" colspan="2">
                                AAV
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let defensemen of [].constructor(max_d); let i = index" class="border-b dark:border-gray-700"
                            [ngClass]="{
                                'bg-gray-300 text-gray-300': (i + 1) === max_d && franchise_player && franchise_player.position === 'D',
                            }"> 
                            <ng-container *ngIf="protected_defense[i]; else emptyRow">
                                <!-- Display row with player data if protected_goalies[i] exists -->
                                <td class="py-1 md:px-4 bg-white dark:bg-gray-800 z-10">
                                    {{ i + 1 }}                   
                                </td>
                        
                                <!-- Player Column -->
                                <td class="flex items-left px-2 py-1 text-gray-900 whitespace-nowrap dark:text-white dark:bg-gray-800">
                                    <div class="text-sm font-semibold">
                                        {{ protected_defense[i].first_name }} {{ protected_defense[i].last_name }}
                                        <span class="ms-0.5 font-normal text-[11px] text-gray-500">
                                            {{ protected_defense[i].position }} - {{ protected_defense[i].short_code }}
                                        </span>
                                    </div>
                                </td>
                        
                                <td class="px-6 py-1 text-right" colspan="2">
                                    ${{ protected_defense[i].aav_current | number:'1.0-0' }}
                                </td>     
                            </ng-container>
                        
                            <!-- Empty row template -->
                            <ng-template #emptyRow>
                                <td class="py-1 md:px-4 dark:bg-gray-800 z-10">
                                    {{ i + 1 }}                   
                                </td>
                                <td class="flex items-left px-2 py-1 whitespace-nowrap dark:text-white dark:bg-gray-800">
                                    <div class="text-sm font-semibold italic">
                                        --
                                    </div>
                                </td>
                                <td class="px-6 py-1 text-right" colspan="2">
                                    --
                                </td>
                            </ng-template>                
                        </tr>
                    </tbody>
                </table>

                <!-- Goalies -->
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="bg-green-400 text-white dark:bg-gray-700 text-center p-2 font-medium text-base" colspan="4">
                                Goalie 
                                <span class="font-normal text-sm">
                                    {{ g_protected }}/{{ max_g }}
                                </span>
                            </th>
                        </tr>
                    
                        <tr class="border-b-2 w-full">
                            <th scope="col" class="bg-gray-50 dark:bg-gray-700">
                            </th>
                            <th scope="col" class="md:p-1 bg-gray-50 dark:bg-gray-700">
                                <span class="flex items-center">
                                    Player
                                </span>  
                            </th>
                            <th scope="col" class="px-6 py-1 text-right" colspan="2">
                                AAV
                            </th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let goalie of [].constructor(max_g); let i = index" class="border-b"
                            [ngClass]="{
                                'bg-gray-300 text-gray-300': (i + 1) === max_g && franchise_player && franchise_player.position === 'G',
                            }">
                            <ng-container *ngIf="protected_goalies[i]; else emptyRow">
                                <td class="py-1 md:px-4 z-10">
                                    {{ i + 1 }}                   
                                </td>
                        
                                <!-- Player Column -->
                                <td class="flex items-left px-2 py-1 text-gray-900 whitespace-nowrap dark:text-white dark:bg-gray-800">
                                    <div class="text-sm font-semibold">
                                        {{ protected_goalies[i].first_name }} {{ protected_goalies[i].last_name }}
                                        <span class="ms-0.5 font-normal text-[11px] text-gray-500">
                                            {{ protected_goalies[i].position }} - {{ protected_goalies[i].short_code }}
                                        </span>
                                    </div>
                                </td>
                        
                                <td class="px-6 py-1 text-right" colspan="2">
                                    ${{ protected_goalies[i].aav_current | number:'1.0-0' }}
                                </td>     
                            </ng-container>
                        
                            <!-- Empty row template -->
                            <ng-template #emptyRow>
                                <td class="py-1 md:px-4  z-10">
                                    {{ i + 1 }}                   
                                </td>
                                <td class="flex items-left px-2 py-1 whitespace-nowrap">
                                    <div class="text-sm font-semibold italic">
                                        --

                                    </div>
                                </td>
                                <td class="px-6 py-1 text-right" colspan="2">
                                    --
                                </td>
                            </ng-template>              
                        </tr>
                        

                        <!-- Total Rows (Main Sheet) -->
                        <tr>
                            <th scope="col" class="bg-white text-gray-900 text-right font-medium text-sm" colspan="3">
                                Total (Main Sheet)
                            </th>
                            <th class="bg-white text-gray-900 text-right font-medium text-sm py-0.5 md:px-4">
                                ${{ sheet_total | number:'1.0-0' }}
                            </th>
                        </tr>
                        <tr>
                            <th scope="col" class="bg-white text-gray-900 text-right font-medium text-sm" colspan="3">
                                Remaining
                            </th>
                            <th class="bg-white text-gray-900 text-right font-medium text-sm py-0.5 md:px-4">
                                ${{ sheet_cap - sheet_total | number:'1.0-0' }}
                            </th>
                        </tr>
                        <tr>
                            <th scope="col" class="bg-white text-gray-900 text-right font-medium text-sm" colspan="3">
                                Added to bench
                            </th>
                            <th class="bg-white text-green-400 text-right font-semibold text-sm py-0.5 md:px-4">
                                ${{ (sheet_cap - sheet_total) / 2  | number:'1.0-0'}}
                            </th>
                        </tr>
                    </tbody>
                </table>

                <!-- Bench -->
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="bg-green-400 text-white dark:bg-gray-700 text-center p-2 font-medium text-base" colspan="4">
                                Bench 
                                <span class="font-normal text-sm">
                                    {{ bench.length }}/{{ max_bench }}
                                </span>
                            </th>
                        </tr>
                        <tr class="border-b-2 w-full">
                            <th scope="col" class=" bg-gray-50 dark:bg-gray-700">

                            </th>
                    
                            <!-- Player Column -->
                            <th scope="col" class="md:p-1 bg-gray-50 dark:bg-gray-700">
                                <span class="flex items-center">
                                    Player
                                </span>  
                            </th>
                    
                            <!-- Dynamic Columns -->
                            <th scope="col" class="px-6 py-1 text-right" colspan="2">
                                AAV
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of [].constructor(max_bench); let i = index" class="w-full border-b dark:bg-gray-800 dark:border-gray-700"> 
                            
                            <ng-container *ngIf="bench[i]; else emptyRow">
                                <td class="py-1 md:px-4 bg-white dark:bg-gray-800 z-10">
                                    {{ i + 1 }}                   
                                </td>
                        
                                <!-- Player Column -->
                                <td class="flex items-left px-2 py-1 text-gray-900 whitespace-nowrap dark:text-white bg-white dark:bg-gray-800">
                                    <div class="text-sm font-semibold">
                                        {{ bench[i].first_name }} {{ bench[i].last_name }}
                                        <span class="ms-0.5 font-normal text-[11px] text-gray-500">
                                            {{ bench[i].position }} - {{ bench[i].short_code }}
                                        </span>
                                    </div>
                                </td>
                        
                                <td class="px-6 py-1 text-right" colspan="2">
                                    ${{ bench[i].aav_current | number:'1.0-0' }}
                                </td>     
                            </ng-container>
                        
                            <!-- Empty row template -->
                            <ng-template #emptyRow>
                                <td class="py-1 md:px-4 dark:bg-gray-800 z-10">
                                    {{ i + 1 }}                   
                                </td>
                                <td class="flex items-left px-2 py-1 whitespace-nowrap dark:text-white dark:bg-gray-800">
                                    <div class="text-sm font-semibold italic">
                                        --
                                    </div>
                                </td>
                                <td class="px-6 py-1 text-right" colspan="2">
                                    --
                                </td>
                            </ng-template>                 
                        </tr>

                        <!-- Total Row (Bench) -->
                        <tr>
                            <th scope="col" class="bg-white text-gray-900 text-right font-medium text-sm" colspan="3">
                                Total (Bench)
                            </th>
                            <th class="bg-white text-gray-900 text-right font-medium text-sm py-0.5 md:px-4">
                                ${{ bench_total | number:'1.0-0' }}
                            </th>
                        </tr>
                        <tr>
                            <th scope="col" class="bg-white text-gray-900 text-right font-medium text-sm" colspan="3">
                                Remaining <span class="font-normal text-xs text-gray-400">($5M + unused main sheet space / 2)</span>
                            </th>
                            <th class="bg-white text-right font-medium text-sm py-0.5 md:px-4"
                            [ngClass]="{
                                'text-green-400': (bench_cap - bench_total) > 0,
                                'text-red-500': (bench_cap - bench_total) < 0
                            }">
                                ${{ bench_cap - bench_total | number:'1.0-0' }}
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div>
     </div>

</div>


