<div class="relative overflow-x-auto">
   <div class="grid grid-cols-2 gap-4">
      <div class="flex items-left rounded">
         <h1 class="font-bold text-2xl">
            Player Database
         </h1>
      </div>
      <div class="flex items-right justify-end rounded">
         <button (click)="openModal(newPlayerModal)" type="submit" class="text-white bg-green-400 hover:bg-green-500 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-400 dark:hover:bg-green-500">Add New Player</button>
      </div>
   </div>
   
   <div class="relative">
      <div class="flex flex-wrap items-start pt-4 pb-2 space-y-4 md:space-y-0 md:space-x-4">
         <!-- Search Bar -->
         <div class="w-full md:w-auto flex flex-col">
           <label for="table-search" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">&nbsp;</label>
           <div class="relative">
             <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
               <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
               </svg>
             </div>
             <input type="text" [(ngModel)]="searchKey" (input)="searchPlayers()" id="table-search-users" class="block p-2.5 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-full md:w-80 bg-gray-50 focus:ring-green-400 focus:border-green-400 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-400 dark:focus:border-green-400" placeholder="Search players...">
           </div>
         </div>
       
         <!-- Ownership Filter -->
         <div class="w-full md:w-auto flex flex-col">
           <label for="ownership-filter" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Filter by Status</label>
           <select id="ownership-filter" [(ngModel)]="statusFilter" (ngModelChange)="filterPlayers()" class="cursor-pointer bg-gray-50 border border-green-400 text-gray-900 text-sm rounded-lg focus:ring-green-400 focus:border-green-400 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-400 dark:focus:border-green-400 min-w-[150px]">
             <option value="all">All Players</option>
             <option value="available">All Available</option>
             <option value="affordable">All Affordable</option>
             <option value="owned">All Owned</option>
             <option value="active">Active Players</option>
             <option value="unsigned">Unsigned</option>
           </select>
         </div>
       
         <!-- Position Filter -->
         <div class="w-full md:w-auto flex flex-col">
           <label for="position-filter" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Filter by Position</label>
           <select id="position-filter" [(ngModel)]="positionFilter" (ngModelChange)="filterPlayers()" class="cursor-pointer bg-gray-50 border border-green-400 text-gray-900 text-sm rounded-lg focus:ring-green-400 focus:border-green-400 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-400 dark:focus:border-green-400 min-w-[150px]">
             <option value="all">Any Position</option>
             <option value="skater">All Skaters</option>
             <option value="F">Forwards</option>
             <option value="D">Defensemen</option>
             <option value="G">Goalies</option>
           </select>
         </div>
       
         <!-- Team Filter -->
         <div class="w-full md:w-auto flex flex-col">
           <label for="team-filter" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Filter by Team</label>
           <select id="team-filter" [(ngModel)]="teamFilter" (ngModelChange)="filterPlayers()" class="cursor-pointer bg-gray-50 border border-green-400 text-gray-900 text-sm rounded-lg focus:ring-green-400 focus:border-green-400 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-400 dark:focus:border-green-400 min-w-[150px]">
             <option value="all">All Teams</option>
             <option *ngFor="let team of globalService.teams" [value]="team.team_name">{{ team.team_name }}</option>
           </select>
         </div>
       
         <!-- Salary Range -->
         <div class="w-full max-w-48 flex flex-col">
            <div class="relative mb-6">
               <label for="labels-range-input" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">Maximum Salary</label>
               
               <input id="labels-range-input" type="range" [(ngModel)]="maxSalary" min="700000" max="15000000"
                        (change)="filterPlayers()"
                        class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700 range-slider">
               
               <span class="text-sm text-gray-500 dark:text-gray-400 absolute start-0 -bottom-6">
                  ${{ maxSalary | number:'1.0-0' }}
               </span>
            </div>
         </div>

         <!-- Clear Filter Button -->
         <div class="flex-grow flex justify-end w-full md:w-auto pr-3">
            <div class="mt-12">
               <a (click)="clearFilter()" class="cursor-pointer font-semibold text-sm text-blue-500 dark:text-blue-500 hover:underline">Clear Filters</a>
            </div>
         </div>

      </div>
       
   <!-- Main Player Table -->
    <div class="overflow-x-auto mb-4 rounded m:rounded-lg shadow-md border-2 max-h-[800px]">
       <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
         <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
           <tr class="border-b-2 sticky top-0">
               <th scope="col" class="p-4 bg-gray-50 dark:bg-gray-700">
               Add
               </th>
               <th scope="col" 
                  class="p-4 bg-gray-50 dark:bg-gray-700 hover:text-gray-500 hover:cursor-pointer"
                  [ngClass]="{'text-green-400 hover:text-green-600': sortingService.sortColumn === 'last_name'}"
                  (click)="sortingService.toggleSort(filteredPlayers, 'last_name')"
               >
                  <span class="flex items-center">
                     Player
                     <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path *ngIf="sortingService.sortColumn !== 'last_name'" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                        <path *ngIf="sortingService.sortColumn === 'last_name' && sortingService.sortDirection === 'desc'" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                        <path *ngIf="sortingService.sortColumn === 'last_name' && sortingService.sortDirection === 'asc'" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/>   
                     </svg>
                  </span>
               </th>
               <th scope="col" class="text-left p-4 bg-gray-50 dark:bg-gray-700">
               Status
               </th>
               <th scope="col" 
                  class="p-4 bg-gray-50 dark:bg-gray-700 hover:text-gray-500 hover:cursor-pointer"
                  [ngClass]="{'text-green-400 hover:text-green-600': sortingService.sortColumn === 'aav_current'}"
                  (click)="sortingService.toggleSort(filteredPlayers, 'aav_current')"
               >
                  <span class="flex items-center">
                     AAV
                     <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path *ngIf="sortingService.sortColumn !== 'aav_current'" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                        <path *ngIf="sortingService.sortColumn === 'aav_current' && sortingService.sortDirection === 'desc'" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                        <path *ngIf="sortingService.sortColumn === 'aav_current' && sortingService.sortDirection === 'asc'" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/>   
                     </svg>                    
                  </span>
               </th>
               <th scope="col" 
                  class="p-4 bg-gray-50 dark:bg-gray-700 hover:text-gray-500 hover:cursor-pointer"
                  [ngClass]="{'text-green-400 hover:text-green-600': sortingService.sortColumn === 'years_left_current'}"
                  (click)="sortingService.toggleSort(filteredPlayers, 'years_left_current')"
               >
                  <span class="flex items-center">
                     Years Left
                     <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path *ngIf="sortingService.sortColumn !== 'years_left_current'" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                        <path *ngIf="sortingService.sortColumn === 'years_left_current' && sortingService.sortDirection === 'desc'" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                        <path *ngIf="sortingService.sortColumn === 'years_left_current' && sortingService.sortDirection === 'asc'" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/>   
                     </svg>
                  </span>
               </th>
               <th scope="col" class="text-left p-4 bg-gray-50 dark:bg-gray-700">
                  Owned By
               </th>
               <th scope="col" 
                  class="p-4 bg-gray-50 dark:bg-gray-700 hover:text-gray-500 hover:cursor-pointer"
                  [ngClass]="{'text-green-400 hover:text-green-600': sortingService.sortColumn === 'last_updated'}"
                  (click)="sortingService.toggleSort(filteredPlayers, 'last_updated')"
               >
                  <span class="flex items-center">
                     Last Updated
                     <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path *ngIf="sortingService.sortColumn !== 'last_updated'" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                        <path *ngIf="sortingService.sortColumn === 'last_updated' && sortingService.sortDirection === 'desc'" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                        <path *ngIf="sortingService.sortColumn === 'last_updated' && sortingService.sortDirection === 'asc'" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/>   
                     </svg>
                  </span>
               </th>
               <th scope="col" class="text-left p-4 bg-gray-50 dark:bg-gray-700">
               Edit
               </th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let player of filteredPlayers | slice:(currentPage - 1) * pageSize : currentPage * pageSize;" class="border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

            <td class="p-4 dark:bg-gray-800">
               <div *ngIf="player.owned_by === null" (click)="openModal(addPlayerModal, player); validatePickup(player)" class="flex items-center">
                  <svg class="w-6 h-6 text-green-500 dark:text-white hover:fill-green-500 hover:text-white hover:cursor-pointer" 
                       aria-hidden="true" xmlns="http://www.w3.org/2000/svg" 
                       width="24" height="24" fill="none" viewBox="0 0 24 24">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" 
                           stroke-width="2" 
                           d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                  </svg>      
               </div>
            </td>            

             <td class="flex items-left px-2 py-2 min-w-52 text-gray-900 whitespace-nowrap dark:text-white dark:bg-gray-800">
                <img class="w-10 h-10 rounded-full" src="{{player.logo}}" alt="Player image">
                <div class="ps-3">
                  <div class="text-base font-semibold">
                     {{ player.first_name }} {{ player.last_name }}
                     <svg (click)="openModal(editPlayerModal, player)" class="w-5 h-5 align-text-top text-gray-400 dark:text-white hover:text-gray-600 inline-flex ms-1 hover:cursor-pointer" 
                           aria-hidden="true" xmlns="http://www.w3.org/2000/svg" 
                           width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" 
                              stroke-width="2" 
                              d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"/>
                     </svg>
                  </div>
                  <div class="font-normal text-gray-500">
                     {{ player.position }} - {{ player.short_code }} <span *ngIf="player.isRookie" class="bg-green-100 text-green-800 text-[9px] font-medium ml-2 me-2 px-1.5 py-0.5 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Rookie Bank</span>
                   </div>
                </div>
             </td>

            <td class="px-6 py-4">
               <div class="flex items-center"
                     [ngClass]="{
                        'text-green-500': player.contract_status === 'Active',
                         'text-red-600': player.contract_status === 'Unsigned'
                     }">
                  <div 
                     class="h-2.5 w-2.5 rounded-full me-2"
                     [ngClass]="{
                        'bg-green-500 text-green-500': player.contract_status === 'Active',
                        'bg-red-600 text-red-600': player.contract_status === 'Unsigned'
                     }">
                  </div> 
                  {{ player.contract_status }}
               </div>               
            </td>
            <td class="px-6 py-4">
               {{ player.aav_current > 0 ? '$' +(player.aav_current | number:'1.0-0') : 'N/A' }}
            </td>
            <td class="px-6 py-4">
               {{ player.years_left_current }}
            </td>
            <td class="px-6 py-4">
               <ng-container *ngIf="player.owned_by; else unownedTemplate">
                   <a [routerLink]="['/', league_id, 'teams', globalService.getTeamID(player.owned_by)]" class="cursor-pointer font-medium text-green-500 dark:text-green-500 hover:underline">
                       {{ player.owned_by }}
                   </a>
               </ng-container>
               <ng-template #unownedTemplate>
                  Unowned
               </ng-template>
           </td>           
           <td class="px-6 py-4 text-xs">
               {{ player.last_updated | date:'MM-dd-yyyy' }}<br>
               <span class="italic">by {{ player.updated_by }}</span>
            </td>
            <td class="px-6 py-4">
               <a (click)="openModal(editContractModal, player)" class="cursor-pointer font-medium text-green-500 dark:text-green-500 hover:underline">Edit Contract</a>
           </td>

           </tr>
         </tbody>
       </table>
     </div>
     
     <!-- Pagination -->
     <div class="grid grid-cols-3 gap-4 mb-16">
      <div class="flex items-left rounded text-gray-500">
         <p>Showing {{ getPageStart() }} to {{ getPageEnd() }} of {{ filteredPlayers.length }} results</p>
      </div>
      <div class="flex items-center justify-center rounded dark:bg-gray-800">
         <nav aria-label="Page navigation example">
            <ul class="flex items-center -space-x-px h-8 text-sm">
              <li>
                <button [disabled]="currentPage === 1" (click)="previousPage()" class="flex items-center justify-center px-4 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                  <span class="sr-only">Previous</span>
                  <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                  </svg>
               </button>
              </li>
              <li *ngFor="let page of generatePageArray()">
               <button (click)="setPage(page)" 
                       [class]="currentPage === page ? 'flex items-center justify-center px-4 h-8 leading-tight text-white bg-green-400 border border-gray-300 hover:bg-green-500 hover:text-white dark:bg-green-600 dark:border-green-600 dark:text-white dark:hover:bg-blue-900 dark:hover:text-white' : 'flex items-center justify-center px-4 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'"
                       >
                 {{ page }}
               </button>
              <li>
                <button [disabled]="currentPage === totalPages" (click)="nextPage()" class="flex items-center justify-center px-4 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                  <span class="sr-only">Next</span>
                  <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                  </svg>
               </button>
              </li>
            </ul>
          </nav>
      </div>

      <div class="flex justify-end items-center rounded dark:bg-gray-800">
         <select [(ngModel)]="pageSize" (ngModelChange)="setPageSize($event)" class="inline-flex items-center min-w-[60px] text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">         
               <option value="25">25</option>
               <option value="50">50</option>
               <option value="100">100</option>          
         </select>  
         <p class="px-3 text-gray-500">results per page</p>

      </div>      

   </div>
     
    
   <!-- New Player Modal -->
   <ng-template #newPlayerModal id="newPlayerModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
            <form (ngSubmit)="playerFormSubmit($event)" #playerForm="ngForm" [attr.data-action]="'add'" class="relative bg-white rounded-lg shadow dark:bg-gray-700">

               <div class="flex items-start justify-between p-4 rounded-t">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                     Create New Player
                  </h3>
                  <button type="button" (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="editUserModal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
               </button>
               </div>

               <div class="p-6 space-y-6">
                  <div class="grid grid-cols-6 gap-6">
                     <div class="col-span-6 sm:col-span-3">
                           <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                           <input type="text" [(ngModel)]="formData.first_name" name="first-name" id="first-name" class="shadow-sm bg-gray-50  text-gray-900 text-sm rounded-lg border border-green-400 focus:ring-green-600 focus:border-green-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                     </div>
                     <div class="col-span-6 sm:col-span-3">
                           <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                           <input type="text" [(ngModel)]="formData.last_name" name="last-name" id="last-name" class="shadow-sm bg-gray-50 text-gray-900 text-sm rounded-lg border border-green-400 focus:ring-green-600 focus:border-green-500 block w-full p-2.5 dark:bg-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                     </div>
                     <div class="col-span-6 sm:col-span-3">
                           <label for="position" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Position</label>
                           <select name="position" [(ngModel)]="formData.position" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                              <option [value]="''">Select position...</option>
                              <option value="F">Forward</option>
                              <option value="D">Defense</option>
                              <option value="G">Goalie</option>
                           </select>
                     </div>
                     <div class="col-span-6 sm:col-span-3">
                        <label for="nhl_team" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">NHL Team</label>
                        <select name="nhl_team" [(ngModel)]="formData.short_code"
                              class="select-dropdown bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option [value]="''">Select team...</option>
                        <option *ngFor="let team of globalService.nhl_teams" [value]="team.short_code">{{ team.city }} {{ team.team_name }}</option>
                        </select>
                     </div>                  
                  </div>
               </div>

               <div class="flex items-center p-6 space-x-3 rtl:space-x-reverse rounded-b">
                  <button 
                     type="submit" 
                     [disabled]="isButtonDisabled()"
                     class="text-white bg-green-400 hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800"
                     [ngClass]="{
                        'bg-green-400 hover:bg-green-500 focus:ring-green-300': !isButtonDisabled(),
                        'bg-green-300 cursor-not-allowed': isButtonDisabled()
                     }" 
                     >
                     Create Player
                  </button>
                  <button type="button" (click)="closeModal()" class="text-green-400 bg-white hover:bg-green-500 hover:text-white border border-green-400 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800">Cancel</button>
               </div>
         </form>
      </div>
   </ng-template>

   <!-- Edit Player Modal -->
   <ng-template #editPlayerModal id="editTeamModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
            <form (ngSubmit)="playerFormSubmit($event)" #playerForm="ngForm" [attr.data-action]="'edit'" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
   
               <div class="flex items-start justify-between p-4 rounded-t">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                     Edit Player Info for: <span class="bg-gray-100 text-gray-600 font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">{{ selected.first_name }} {{ selected.last_name }}</span>
                  </h3>
                  <button type="button" (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="editUserModal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
               </button>
               </div>
   
               <div class="p-6 space-y-6">
                  <div class="grid grid-cols-6 gap-6">
                     <div class="col-span-6 sm:col-span-3">
                           <label for="first-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                           <input type="text" [(ngModel)]="formData.first_name" name="first-name" id="first-name" class="shadow-sm bg-gray-50  text-gray-900 text-sm rounded-lg border border-green-400 focus:ring-green-600 focus:border-green-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [placeholder]="selected.first_name" required="">
                     </div>
                     <div class="col-span-6 sm:col-span-3">
                           <label for="last-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                           <input type="text" [(ngModel)]="formData.last_name" name="last-name" id="last-name" class="shadow-sm bg-gray-50 text-gray-900 text-sm rounded-lg border border-green-400 focus:ring-green-600 focus:border-green-500 block w-full p-2.5 dark:bg-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [placeholder]="selected.last_name" required="">
                     </div>
                     <div class="col-span-6 sm:col-span-3">
                           <label for="position" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Position</label>
                           <select name="position" [(ngModel)]="formData.position" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                              <option [selected]="selected.position === 'F'" value="F">Forward</option>
                              <option [selected]="selected.position === 'D'" value="D">Defense</option>
                              <option [selected]="selected.position === 'G'" value="G">Goalie</option>
                            </select>
                     </div>
                     <div class="col-span-6 sm:col-span-3">
                           <label for="nhl_team" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">NHL Team</label>
                           <select name="nhl_team" [(ngModel)]="formData.short_code" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                              <option *ngFor="let team of globalService.nhl_teams" [value]="team.short_code" [selected]="selected.short_code === team.short_code">{{ team.city }} {{ team.team_name }}</option>
                            </select>
                     </div>
                  </div>
               </div>
   
               <div class="flex items-center p-6 space-x-3 rtl:space-x-reverse rounded-b">
                  <button type="submit" class="text-white bg-green-400 hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800">Save Changes</button>
                  <button type="button" (click)="closeModal()" class="text-green-400 bg-white hover:bg-green-500 hover:text-white border border-green-400 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800">Cancel</button>
               </div>
         </form>
      </div>
   </ng-template>

   <!-- Add To Roster Modal -->
   <ng-template #addPlayerModal id="addPlayerModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-2xl max-h-full">
            <form class="relative bg-white rounded-lg shadow dark:bg-gray-700">

               <div class="flex items-start justify-between p-4 rounded-t">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                     Add <span class="bg-gray-100 text-gray-600 font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">{{selected.first_name }} {{ selected.last_name }}</span>to your roster?
                  </h3>
                  <button type="button" (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="editUserModal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
               </button>
               </div>

               <!-- Validation Timeline -->
               <div class="p-6 space-y-6 md:w-[600px]">
                  <div class="items-center justify-center">
                     <ol class="flex items-center justify-center">
                        <li class="relative w-full mb-6">
                           <div class="flex items-center">
                              <div 
                                 class="z-10 flex items-center justify-center w-10 h-10 rounded-full ring-0 ring-white dark:ring-gray-900 shrink-0"
                                 [ngClass]="{'bg-green-400': contractIsValid(), 'bg-red-500': !contractIsValid()}">
                                 <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m4 8h6m-6-4h6m4-8v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"/>
                                 </svg>
                              </div>
                              <div class="flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
                           </div>
                           <div class="mt-3">
                              <h3 class="font-medium text-gray-900 dark:text-white">Contracts</h3>
                           </div>
                     </li>
                     <li class="relative w-full mb-6">
                        <div class="flex items-center">
                           <div class="flex w-[50%] bg-gray-200 h-0.5 dark:bg-gray-700"></div>
                           <div class="z-10 flex items-center justify-center w-10 h-10 rounded-full ring-0 ring-white dark:ring-gray-900 shrink-0"
                              [ngClass]="{'bg-green-400': capIsValid(selected), 'bg-red-500': !capIsValid(selected)}">
                              <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                 <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 17.345a4.76 4.76 0 0 0 2.558 1.618c2.274.589 4.512-.446 4.999-2.31.487-1.866-1.273-3.9-3.546-4.49-2.273-.59-4.034-2.623-3.547-4.488.486-1.865 2.724-2.899 4.998-2.31.982.236 1.87.793 2.538 1.592m-3.879 12.171V21m0-18v2.2"/>
                               </svg>                               
                            </div>
                            <div class="flex w-[50%] bg-gray-200 h-0.5 dark:bg-gray-700"></div>
                        </div>
                        <div class="mt-3">
                            <h3 class="font-medium text-center text-gray-900 dark:text-white">Cap space</h3>
                        </div>
                    </li>
                     <li class="relative w-full mb-6">
                        <div class="flex items-center">
                              <div class="flex w-full bg-gray-200 h-0.5 dark:bg-gray-700"></div>
                              <div *ngIf="validatePickup(selected)" class="z-10 bg-green-400 flex items-center justify-center w-10 h-10 rounded-full ring-0 ring-white dark:ring-gray-900 shrink-0">
                                    <svg class="w-5 h-5 text-white dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                                       <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                                    </svg>
                              </div>
                              <div *ngIf="!validatePickup(selected)" class="z-10 bg-red-500 flex items-center justify-center w-10 h-10 rounded-full ring-0 ring-white dark:ring-gray-900 shrink-0">
                                 <svg class="w-5 h-5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                                  </svg>                                  
                           </div>
                        </div>
                        <div class="mt-3 text-right justify-end">
                           <h3 *ngIf="validatePickup(selected)" class="font-medium text-gray-900 dark:text-white">Pickup is Valid</h3>
                           <h3 *ngIf="!validatePickup(selected)" class="font-medium text-gray-900 dark:text-white">Pickup is Invalid</h3>
                        </div>
                     </li>
                  </ol>

                  <!-- FA Select Dropdown -->
                  <div *ngIf="validatePickup(selected)">
                     <div class="grid grid-cols-6 gap-6">
                        <div class="col-span-6 sm:col-span-3">
                           <label for="fa_pick" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                              FA Asset Used:
                           </label>
                           
                           <div class="relative max-h-[200px] overflow-y-auto">
                              <select
                                 name="fa_pick"
                                 [(ngModel)]="fa_to_use"
                                 class="max-h-[200px] overflow-y-auto bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-400 focus:border-green-400 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-400"
                                 >
                                 <option *ngFor="let pick of fa_picks" [value]="pick.asset_id">
                                    FA Week {{ pick.week }} ({{ pick.year }})
                                 </option>
                              </select>
                           </div>
                           
                        </div>
                     </div>
                  </div>
 
                  <!-- Warnings -->
                  <div *ngIf="!contractIsValid()">
                     <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
                           <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                           </svg>
                           <span class="sr-only">Info</span>
                           <div>
                              <span class="font-bold">Roster is Full!</span><br> You can't carry any more contracts. Visit your <a class="underline cursor-pointer hover:font-semibold" [routerLink]="['/', globalService.league?.league_id, 'teams', globalService.loggedInTeam?.team_id]" (click)="closeModal()">team page</a> to make a roster move
                           </div>
                      </div>
                  </div>
   
                  <div *ngIf="!capIsValid(selected)">
                     <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
                        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div>
                          <span class="font-bold">Not enough cap space! (${{ globalService.loggedInTeam?.cap_space | number:'1.0-0' }}) </span><br> You don't have the cap space to add this player. Visit your <a class="underline cursor-pointer hover:font-semibold" [routerLink]="['/', globalService.league?.league_id, 'teams', globalService.loggedInTeam?.team_id]" (click)="closeModal()">team page</a> to make a roster move.
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="flex items-center px-6 pb-6 space-x-3 rtl:space-x-reverse rounded-b">
               <button 
                  type="submit" 
                  (click)="addPlayer(selected, false); closeModal()" 
                  class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800"
                  [ngClass]="{
                     'bg-green-400 hover:bg-green-500 focus:ring-green-300': validatePickup(selected),
                     'bg-green-300 cursor-not-allowed': !validatePickup(selected)
                 }" 
                 [disabled]="!validatePickup(selected) || !fa_to_use">
                     Add Player
               </button>
               <button type="submit" (click)="closeModal()" class="text-green-400 bg-white hover:bg-green-500 hover:text-white border border-green-400 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800">Cancel</button>
            </div>
         </form>
      </div>
   </ng-template>

<!-- Edit Contract Modal -->
<ng-template #editContractModal id="editContractModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
   <div class="relative w-full max-w-2xl max-h-full">
         <form (ngSubmit)="contractFormSubmit($event)" class="relative bg-white rounded-lg shadow dark:bg-gray-700">

            <div class="flex items-start justify-between p-4 rounded-t">
               <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                  Editing Contract Info for: <span class="bg-gray-100 text-gray-600 font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">{{ selected.first_name }} {{ selected.last_name }}</span>
               </h3>
               <button type="button" (click)="closeModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="editUserModal">
               <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
               </svg>
               <span class="sr-only">Close modal</span>
            </button>
            </div>

            <div class="p-6 space-y-6">
               
               <!-- Current Contract Fields -->
               <h3 class="text-lg font-semibold text-green-400">Current Contract</h3>
               <div class="grid grid-cols-6 gap-6">
                  <div class="col-span-6 sm:col-span-3">
                        <label for="aav_current" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">AAV</label>
                        <input type="number" [(ngModel)]="formData.aav_current" autocomplete="off" name="aav_current" id="aav_current" class="shadow-sm bg-gray-50 text-gray-900 text-sm rounded-lg border border-green-400 focus:ring-green-600 focus:border-green-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [placeholder]="selected.aav_current | number:'1.0-0'" required="">
                        <div *ngIf="!selected.aav_next && !addNextContract" class="py-4">
                           <a (click)="addContract()" class="inline-flex items-center font-medium text-gray-400 dark:text-gray-400 hover:underline">
                              <svg class="w-4 h-4 text-gray-400 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                              </svg>
                              <span class="ml-1">Add New</span>
                          </a>                          
                        </div>
                  </div>
                  <div class="col-span-6 sm:col-span-3">
                        <label for="years_left_current" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Years Left</label>
                        <input type="number" max="8" min="0" autocomplete="off" [(ngModel)]="formData.years_left_current" name="years_left_current" id="years_left_current" class="shadow-sm bg-gray-50 text-gray-900 text-sm rounded-lg border border-green-400 focus:ring-green-600 focus:border-green-500 block w-full p-2.5 dark:bg-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                  </div>
               </div>

               <!-- Next Contract Fields -->
               <div *ngIf="addNextContract || selected.aav_next > 0">
                  <h3 class="text-lg font-semibold text-green-400">Next Contract</h3>
                  <div class="grid grid-cols-6 gap-6">
                     <div class="col-span-6 sm:col-span-3">
                        <label for="aav_next" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">AAV</label>
                        <input type="number" autocomplete="off" [(ngModel)]="formData.aav_next" name="aav_next" id="aav_next" class="shadow-sm bg-gray-50 text-gray-900 text-sm rounded-lg border border-green-400 focus:ring-green-600 focus:border-green-500 block w-full p-2.5 dark:bg-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                     </div>
                     <div class="col-span-6 sm:col-span-3">
                        <label for="years_left_next" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Years Left</label>
                        <input type="number" max="8" min="0" autocomplete="off" [(ngModel)]="formData.years_left_next" name="years_left_next" id="years_left_next" class="shadow-sm bg-gray-50 text-gray-900 text-sm rounded-lg border border-green-400 focus:ring-green-600 focus:border-green-500 block w-full p-2.5 dark:bg-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [placeholder]="selected.years_left_next" required="">
                     </div>
                  </div>
               </div>

               <!-- Expiry Status -->
               <div class="grid grid-cols-6 gap-6">
                  <div class="col-span-6 sm:col-span-3">
                     <label for="expiry_status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Expiry Status</label>
                     <select name="expiry_status" [(ngModel)]="formData.expiry_status" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="UFA">UFA</option>
                        <option value="RFA">RFA</option>
                     </select>
                  </div>
               </div>

            </div>

            <div class="flex items-center p-6 space-x-3 rtl:space-x-reverse rounded-b">
               <button type="submit" class="text-white bg-green-400 hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800">Save Changes</button>
               <button type="button" (click)="closeModal()" class="text-green-400 bg-white hover:bg-green-500 hover:text-white border border-green-400 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-400 dark:hover:bg-green-500 dark:focus:ring-green-800">Cancel</button>
            </div>
      </form>
   </div>
</ng-template>       
