<h1 class="font-bold text-2xl">
    Draft History
</h1>

<div class="w-full">
    <div *ngFor="let round of [].constructor(globalService.league?.general_draft_length); let row = index" class="flex w-full">
      <div *ngFor="let team of general_order" class="w-1/12">
        <!-- Get the pick information for the current team and round -->
        <ng-container *ngIf="getPickInfo(team.team_id, row + 1, 'general') as pick; else burnedCard">
          <div class="block p-1.5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <!-- Display pick details -->
            <p class="text-xs font-semibold text-gray-500 dark:text-gray-400">
              {{ pick.player_first_name }}
            </p>
            <h5 class="text-sm font-bold tracking-tight text-gray-700 dark:text-white">
              {{ pick.player_last_name }}
            </h5>
            <p class="text-[10px] mb-2 text-gray-500 dark:text-gray-400">
              {{ pick.player_position }} - {{ pick.player_short_code }}
            </p>
            <p class="text-right text-[10px] text-gray-700 font-semibold dark:text-gray-400">
              {{ pick.round }}.{{ pick.position }} ({{ pick.pick_number }})
            </p>
        </div>
        </ng-container>
        <ng-template #burnedCard>
          <a href="#" class="block p-1.5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <p class="text-xs font-semibold text-gray-500 dark:text-gray-400">
              
            </p>
            <h5 class="text-sm font-bold tracking-tight text-gray-700 dark:text-white">
              BURNED
            </h5>
            <p class="text-[10px] mb-2 text-gray-500 dark:text-gray-400">
              
            </p>
            <p class="text-right text-[10px] text-gray-700 font-semibold dark:text-gray-400">
                
            </p>
          </a>
        </ng-template>
      </div>
    </div>
  </div>
  
  
  
  